*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
**/build/
**/build/outputs/
**/build/generated/
**/build/intermediates/
**/build/kspCaches/
**/build/kotlin/
**/build/reports/
